<h5 th:text="#{label.beneficiario}" />
<hr>
<form class="form" role="form" autocomplete="off" method="post"
	th:object="${persona}"
	th:action="@{/agregarBeneficiariosAccionista/guardar}">
	<div class="form-group row">
		<div class="col-lg-3">
			<label for="identi" th:text="#{label.identificacion}" /> <input
				id="identi" class="form-control  form-control-sm" type="text"
				required="true" th:field="${persona.id}"
				th:placeholder="#{label.identificacion}" maxlength="20">
		</div>

		<div class="col-lg-3">
			<label for="detalNombre" th:text="#{label.nombres}" /> <input
				id="detalNombre" class="form-control  form-control-sm" type="text"
				required="true" th:field="${persona.perDetalleNombre}"
				th:placeholder="#{label.nombres}" maxlength="60">
		</div>

		<div class="col-lg-3">
			<label for="tipoDoc" th:text="#{label.tipo.documento}" /> <select
				id="tipoDoc" th:field="${persona.perTipoIdent}">
				<option th:value="PCC" th:text="|Cedula de Ciudadania|" />
				<option th:value="PNI" th:text="|Nit|" />
			</select>
		</div>

		<div class="col-lg-3">
			<label for="naturalee" th:text="#{label.naturaleza}" /> <select
				id="naturalee" th:field="${persona.perNaturaleza}">
				<option th:value="c01" th:text="|No Aplica|" />
				<option th:value="c06" th:text="|Sociedades Privadas Nacionales|" />
			</select>
		</div>

		<div class="col-lg-3">
			<label for="primeApe" th:text="#{label.primer.apellido}" /> <input
				id="primeApe" class="form-control  form-control-sm" type="text"
				required="true" th:field="${persona.perPrimerApellido}"
				th:placeholder="#{label.primer.apellido}" maxlength="30">
		</div>

		<div class="col-lg-3">
			<label for="seguApe" th:text="#{label.segundo.apellido}" /> <input
				id="seguApe" class="form-control  form-control-sm" type="text"
				required="true" th:field="${persona.perSegundoApellido}"
				th:placeholder="#{label.segundo.apellido}" maxlength="30">
		</div>

		<div class="col-lg-3">
			<label for="gene" th:text="#{label.segundo.apellido}" /> <select
				id="gene" th:field="${persona.genero}">
				<option th:value="M" th:text="|Masculino|" />
				<option th:value="F" th:text="|Femenino|" />
			</select>
		</div>

		<div class="col-lg-3">
			<label for="direcc" th:text="#{label.direccion}" /> <input
				id="direcc" class="form-control  form-control-sm" type="text"
				required="true" th:field="${persona.perDireccion}"
				th:placeholder="#{label.direccion}" maxlength="50">
		</div>

		<div class="col-lg-3">
			<label for="telef" th:text="#{label.telefono}" /> <input id="telef"
				class="form-control  form-control-sm" type="text" required="true"
				th:field="${persona.perTelefono}"
				th:placeholder="#{llabel.telefono}" maxlength="15">
		</div>

		<div class="col-lg-3">
			<label for="telef2" th:text="#{label.telefono2}" /> <input id=""
				class="form-control  form-control-sm" type="text" required="true"
				th:field="${persona.perTelefono2}"
				th:placeholder="#{label.telefono}" maxlength="15">
		</div>

		<div class="col-lg-3">
			<label for="fecNac" th:text="#{label.fechaNacimiento}" /> <input
				id="fecNac" type="date" th:field="${persona.perFNacimiento}" />
		</div>

		<div class="col-lg-3">
			<label for="emai" th:text="#{label.email}" /> <input id="emai"
				class="form-control  form-control-sm" type="text" required="true"
				th:field="${persona.email}" th:placeholder="#{label.email}"
				maxlength="35">
		</div>

		<div class="col-lg-3">
			<label for="autCom" th:text="#{label.autorizaCompartirInf}" /> <select
				id="autCom" th:field="${persona.autorizaCompartirInf}">
				<option th:value="S" th:text="Si" />
				<option th:value="N" th:text="No" />
			</select>
		</div>

		<div class="col-lg-3">
			<label for="autRec" th:text="#{label.autorizaRecibirInf}" /> <select
				id="autRec" th:field="${persona.autorizaRecibirInf}">
				<option th:value="S" th:text="Si" />
				<option th:value="N" th:text="No" />
			</select>
		</div>
	</div>
	<hr>
	<div class="form-group row" >
		<div class="col-lg-3">
			<label for="benValor" th:text="#{label.porcentaje.accion}" /> <input
				id="identi" class="form-control  form-control-sm" type="text"
				required="true" th:field="${persona.benValor}"
				th:placeholder="#{label.porcentaje.accion}" maxlength="20">
		</div>

		<div class="col-lg-3">
			<label for="benNit" th:text="#{label.nit}" /> <select id="benNit"
				th:field="${persona.benNit}">
				<option th:each="i : ${catalogoNit}" th:value="${i.codigo}" th:text="${i.label}" />
			</select>
		</div>
	</div>

	<div class="col-lg-12 alinearDerecha">
		<input type="submit" class="btn btn_verde_blanco"
			th:value="#{btn.guardar}">
	</div>

</form>