<!DOCTYPE html>
<html>

<body>
	<header class="bg-primary text-yellow">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 mx-auto">
					<h2 th:text="#{title.accionistas}">
						<img src="img/logo_grupo_bolivar.jpg" alt="logo_grupo_bolivar" />
					</h2>
					<!--Barra de opciones-->
					<nav class="navbar navbar-expand-lg navbar-light bg-light-nav">
						<button class="navbar-toggler" type="button"
							data-toggle="collapse" data-target="#navbarNavDropdown"
							aria-controls="navbarNavDropdown" aria-expanded="false"
							aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>

						<div class="collapse navbar-collapse " id="navbarNavDropdown">
							<ul class="navbar-nav">
								<li class="nav-item active"><a class="nav-link " href="#">Inicio
										<span class="sr-only">(current)</span>
								</a></li>

								<div class="dropdown">
									<a class="nav-link dropdown-toggle" href="#" role="button"
										data-toggle="dropdown" aria-haspopup="true"
										aria-expanded="false" th:text="#{label.configurar.pago}" />
									<div class="dropdown-menu">
										<li><a class="dropdown-item"
											th:text="#{label.configurar.plan.cuentas}"
											th:href="@{/plaCuentas(editMode=0)}" /></li>
										<li class="dropdown-submenu"><a class="dropdown-item"
											href="#" th:text="#{label.configurar.generacion.orden.pagos}" />
											<ul class="dropdown-menu">
												<li><a class="dropdown-item"
													th:href="@{/configurarBeneficiarios(viewState=0)}"
													th:text="#{label.configurar.beneficiarios}" /></li>
												<li><a class="dropdown-item"
													th:href="@{/generarOrdenesDePagos(viewState=0)}"
													th:text="#{label.configurar.generar}" /></li>
											</ul></li>
										<li><a class="dropdown-item" th:href="@{/aplicacion}"
											th:text="#{label.configurar.aplicacion}" /></li>
									</div>
							</ul>
						</div>

						<!-- logout -->
						<div class="align-items-end">
							<a class="dropdown-item" href="#" th:href="@{/logout}"> <span
								></span> <span
								class="float-right">&nbsp; <i class="fas fa-sign-out-alt"></i>
							</span>
							</a>
						</div>
						<!-- Fin logout -->

					</nav>
				</div>
			</div>
		</div>
	</header>
</body>
</html>