<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Finita - Autenticaci&oacuten</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/scrolling-nav.css" rel="stylesheet">
  <link href="css/override.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet' type='text/css'>

</head>

<body id="page-top">

  <header class="bg-primary text-yellow">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>
            <img src="img/logo_grupo_bolivar.jpg" alt="logo_grupo_bolivar" >
            Sistema de Accionistas
        </h2>
        </div>
      </div>
    </div>
  </header>

  <section id="id" class="bg-light">
    <div class="container align-items-center">
      <div class="col-lg-8 mx-auto">

        <!--Contenido-->
        <div class=" col-lg-8 mx-auto">
				
				<!-- Registro Usuario -->
				<div class="">
					<h4>Registro Usuario</h4>
				</div>
				<div class="card-body">
					<div th:include="user-form/user-registro.html" th:remove="tag" ></div>
				</div>

        </div>
        <!--Fin contenido-->

      </div>
    </div>
  </section>
 
  <!-- Footer -->
  <!-- Borrar padding -->
  <div style="padding-top: 50px; " class="bg-light"></div>
  
  <footer class="py-5 bg-dark ">
    <div class="container">
      <p class="m-0 text-center text-yellow-white">Copyright &copy; Grupo Bolivar 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  

  <!-- Custom JavaScript for this theme -->
  <script src="js/scrolling-nav.js"></script>

</body>

</html>
