<h3 th:text="#{label.page.dividendos}" class="subtituloAplicacion" />

<!--Fin Miga de pan-->
<div id="msform" class="card">
	<ul id="progressbar">

		<li class="active" id="cargue"><strong
			th:text="#{label.wizard.cargue}" /></li>
		<li id="validar" class="active"><strong
			th:text="#{label.wizard.validar}" /></li>
	</ul>
</div>

<form class="form-inline" style="font-size: 12px">
	<div class="form-group">
		<label>Fecha Inicio:</label> <input id="fecInicio" type="date"
			class="form-control mx-sm-3" placeholder="Fecha Inicio"
			value="Fecha Inicio"> <label>Fecha Fin: </label> <input
			id="fecFin" type="date" class="form-control mx-sm-3"
			placeholder="Fecha Fin">

		<div class="col">
			<button type="" class="btn btn-primary">Buscar</button>
		</div>

	</div>
</form>


<div style="padding-top: 20px;" class="bg-light" />

<table class="table table-striped" style="font-size: 12px;"> 
	<thead>
		<tr>
			<th scope="col" th:text = "#{label.dividendos.fecCargue }"></th>
			<th scope="col" th:text = "#{label.dividendos.tipoCargue}"/>
			<th scope="col" th:text = "#{label.dividendos.descripcion}"/>
			<th scope="col"/>
		</tr>
	</thead>
	<tbody>
		
		<tr>
			<td >17/09/2020</td>
			<td>ERR</td>
			<td>ERR_MENSAJE</td>
			<td><a title="Descargar Archivo" href="#"><span
					class="glyphicon glyphicon-glyphicon-download"></span></a></td>
		</tr>
		<tr>
			<td>17/09/2020</td>
			<td>ERR</td>
			<td>ERR_MENSAJE</td>
			<td><a title="Descargar Archivo" href="#"><span
					class="glyphicon glyphicon-glyphicon-download"></span></a></td>
		</tr>
	</tbody>
</table>